# .gitignore for Android Studio

# Android Studio
*.iml
FirstProject/.idea
FirstProject/.gradle
/local.properties
/.externalNativeBuild

# Gradle
FirstProject/app/build/
/captures/
#
# Default ignored files
/shelf/
/workspace.xml
