# .gitignore for Android Studio

# Android Studio
*.iml
FirstProject/.idea
FirstProject/.gradle
/local.properties
/.externalNativeBuild

# Gradle
/build/
/captures/

# Default ignored files
/shelf/
/workspace.xml
