# .gitignore for Android Studio

# Android Studio
*.iml
FirstProject/.idea
FirstProject/.gradle
FirstKotlinProgram/.idea
FirstKotlinProgram/.gradle
/local.properties
/.externalNativeBuild

# Gradle
FirstProject/app/build/
FirstKotlinProgram/app/build/
/captures/

# Default ignored files
/shelf/
/workspace.xml
